Repository myteam-org/Webserv, pull requests merged in 2025-07, with the labels that each got.

#88 72 feat creat router
  .clang-format
  include/action/action.hpp
  include/action/context.hpp
  include/action/servehttp.hpp
  include/http/handler/file/delete.hpp
  include/http/handler/file/post.hpp
  include/http/handler/file/static.hpp
  include/http/handler/handler.hpp
  include/http/handler/matcher.hpp
  include/http/handler/redirect.hpp
  include/http/handler/router/builder.hpp
  include/http/handler/router/internal.hpp
  include/http/handler/router/middleware/chain.hpp
  include/http/handler/router/middleware/error_page.hpp
  include/http/handler/router/middleware/logger.hpp
  include/http/handler/router/middleware/middleware.hpp
  include/http/handler/router/registry.hpp
  include/http/handler/router/router.hpp
  include/http/request/request.hpp
  include/http/response.hpp
  include/http/response/response.hpp
  include/http/status.hpp
  include/utils/string.hpp
  include/utils/types/either.hpp
  include/utils/types/option.hpp
  src/CMakeLists.txt
  src/http/handler/file/delete.cpp
  src/http/handler/file/post.cpp
  src/http/handler/file/static.cpp
  src/http/handler/redirect.cpp
  src/http/handler/router/builder.cpp
  src/http/handler/router/internal.cpp
  src/http/handler/router/middleware/chain.cpp
  src/http/handler/router/middleware/error_page.cpp
  src/http/handler/router/middleware/logger.cpp
  src/http/handler/router/registry.cpp
  src/http/handler/router/router.cpp
  src/http/request/request.cpp
  src/http/response/response.cpp
  src/utils/string.cpp
  test/Testing/Temporary/CTestCostData.txt
  test/http/CMakeLists.txt
  test/http/handler/CMakeLists.txt
  test/http/handler/matcher_test.cpp
  test/http/handler/router/CMakeLists.txt
  test/http/handler/router/registry_test.cpp
  test/http/handler/router/router_test.cpp
  test/http/request/CMakeLists.txt
  test/http/request/request_test.cpp
  test/http/response/CMakeLists.txt
  test/http/response/response_test.cpp
  test/utils/CMakeLists.txt
  test/utils/string_test.cpp
  test/utils/types/CMakeLists.txt
  test/utils/types/either_test.cpp
  test/utils/types/option_test.cpp
Labels: router

#89 26 feat read request header
  include/http/request/read/header.hpp
  src/http/request/read/header.cpp
  src/http/request/read/line.cpp
  test/http/request/read/CMakeLists.txt
  test/http/request/read/header_test.cpp
Labels: enhancement, class, http, header

#93 78 feat creat virtual server
  .github/workflows/leak_check.yml
  include/config/config.hpp
  include/config/context/locationContext.hpp
  include/http/handler/router/middleware/error_page.hpp
  include/http/handler/router/middleware/logger.hpp
  include/http/response.hpp
  include/http/status.hpp
  include/http/virtual_server.hpp
  include/utils/types/option.hpp
  src/CMakeLists.txt
  src/config/context/locationContext.cpp
  src/http/handler/router/middleware/error_page.cpp
  src/http/handler/router/middleware/logger.cpp
  src/http/status.cpp
  src/http/virtual_server.cpp
  test/http/CMakeLists.txt
  test/http/handler/router/CMakeLists.txt
  test/http/handler/router/middleware/CMakeLists.txt
  test/http/handler/router/middleware/error_page_test.cpp
  test/http/handler/router/middleware/logger_test.cpp
  test/http/status_test.cpp
  test/http/virtual_server_test.cpp
Labels: http, log, router, virtual server, middleware

#96 32 feat read request chunked
  include/http/request/read/chunked_body.hpp
  include/http/request/read/context.hpp
  include/http/request/read/length_body.hpp
  include/utils/string.hpp
  src/http/request/read/body.cpp
  src/http/request/read/chunked_body.cpp
  src/http/request/read/context.cpp
  src/http/request/read/length_body.cpp
  src/utils/string.cpp
  test/http/request/read/CMakeLists.txt
  test/http/request/read/body_chunked_test.cpp
  test/http/request/read/body_length_test.cpp
  test/http/request/read/body_test.cpp
Labels: enhancement, class, http, read, body

#101 86 feat request parser
  include/config/context/serverContext.hpp
  include/http/request/parse/http_request.hpp
  include/http/request/parse/request_parser.hpp
  include/http/request/read/context.hpp
  include/utils/string.hpp
  include/utils/types/error.hpp
  include/utils/types/result.hpp
  src/config/context/serverContext.cpp
  src/http/request/parse/request_parser.cpp
  src/http/request/read/body.cpp
  src/http/request/read/context.cpp
  src/http/request/read/header.cpp
  src/utils/string.cpp
  test/http/request/CMakeLists.txt
  test/http/request/parse/CMakeLists.txt
  test/http/request/parse/request_parse_test.cpp
  test/http/request/read/header_test.cpp
Labels: enhancement, class, http, request, parse
